<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caloma88.unireming">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlataformaQ10" />
        <activity android:name=".PlataformaMoodle" />
        <activity android:name=".VentanaInicio" />
        <activity android:name=".paginaprincipalmedellin" />
        <activity android:name=".paginaprincipalmanizales" />
        <activity android:name=".PlataformaCorreo" />
        <activity android:name=".contactosmedellin" />
        <activity android:name=".contactosmanizales" />
        <activity android:name=".especializaciones" />
        <activity android:name=".grados" />
        <activity android:name=".tecnologos" />
        <activity android:name=".extension" />
        <activity android:name=".grupos_de_estudio"></activity>
    </application>

</manifest>